/*
  Web-magie de Myla
  (c) 2024  Myla Duvivier
*/

html {
  scroll-behavior: smooth;
}
body {
  margin: 30px;
  font-size: 1.2em;
  font-family: sans-serif;
  color: #1d1d1d;
  /* background-image: url(bg.gif); */
  > div {
    margin-bottom: 20px;
  }
}
a {
  text-decoration: none;
  border-bottom: 1px solid #0091ea;
  color: #1d1d1d;
  &:hover {
    background-color: rgb(241, 248, 255);
    border-bottom-color: #0091ea;
  }
}
h1 {
  margin: 10px 0 40px;
  font-family: "Academy Engraved LET";
  > span {
    font-weight: 300;
    font-size: 0.6em;
    white-space: nowrap;
  }
}
h2 {
  margin: 12px 0 5px;
  font-size: 1.2em;
  > span {
    font-weight: normal;
    font-size: 1em;
  }
}
label {
  color: #1d1d1d;
  display: block;
  margin-bottom: 3px;
  font-size: 0.9em;
}
input,
select {
  padding: 5px 4px 3px 8px;
  font-size: 20px;
  line-height: 25px;
  font-family: sans-serif;
  background-color: white;
  border: solid grey 1px;
  border-radius: 5px;
}
article {
  margin: 0 0 15px 0;
  padding: 5px 5px 10px 30px;
}
section {
  position: relative;
  background-color: rgb(241, 248, 255);
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #c8e1ff;
  border-radius: 20px;
}
#day {
  width: 60px;
}
#year {
  width: 100px;
}
.name > input {
  width: 100%;
}
.spaced {
  margin: 0 10px;
}
.linespace > li {
  margin: 10px;
  > a {
    font-weight: 600;
  }
}
.field {
  margin: 30px 0;
}
.inputForm {
  z-index: 300;
  min-height: 190px;
}
.desc {
  display: inline-block;
  margin: 10px 0 16px;
  color: grey;
}

.calc {
  display: block;
  margin: 10px 0;
  > .meaning {
    margin: 15px 0 20px -10px;
    color: #1a1a1a;
    border-left: none;
    min-height: 50px;
  }
}
.meaning {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  > div {
    padding: 0 0 0 100px;
  }
  > .num {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 35px;
    border-width: 6px;
    line-height: 42px;
    height: 42px;
    width: 42px;
    padding: 5px;
    margin-right: 10px;
  }
}
.num {
  display: inline-block;
  border: 4px solid grey;
  background-color: white;
  line-height: 24px;
  height: 24px;
  width: 24px;
  text-align: center;
  border-radius: 50%;
}
.fl {
  float: left;
  margin: 10px 30px;
  > a {
    border-bottom: none;
  }
  img {
    border-radius: 10px;
  }
}
.clearer {
  clear: both;
  height: 0;
  width: 0;
}
.i18n {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 4px;
  > img {
    cursor: pointer;
    margin-left: 4px;
    height: 11px;
    width: 16px;
    border: solid 1px grey;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.4);
    }
  }
}

.artnum {
  border-left: 10px solid grey;
}
.ml210 {
  margin: 0 20px 0 260px;
}
#allNumbers {
  margin: 0 0 20px 0;
  > span {
    padding: 5px;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }
}
.c1,
.c10,
.c19,
.c28 {
  border-color: #f44336 !important;
}
.c2,
.c20 {
  border-color: #ff9800 !important;
}
.c3,
.c12,
.c21,
.c30 {
  border-color: #ffeb3b !important;
}
.c4,
.c13,
.c31 {
  border-color: #4caf50 !important;
}
.c5,
.c14,
.c23 {
  border-color: #48d1cc !important;
}
.c6,
.c15,
.c24 {
  border-color: #2196f3 !important;
}
.c7,
.c16,
.c25 {
  border-color: #6a0dad !important;
}
.c8,
.c17,
.c26 {
  border-color: #d000d0 !important;
}
.c9,
.c18,
.c27 {
  border-color: #ffc107 !important;
}
.c11,
.c29 {
  border-color: #9c27b0 !important;
}
.c22 {
  border-color: #3f51b5 !important;
}

.k1,
.k10,
.k19,
.k28 {
  border-bottom-color: #f44336 !important;
}
.k2,
.k20 {
  border-bottom-color: #ff9800 !important;
}
.k3,
.k12,
.k21,
.k30 {
  border-bottom-color: #ffeb3b !important;
}
.k4,
.k13,
.k31 {
  border-bottom-color: #4caf50 !important;
}
.k5,
.k14,
.k23 {
  border-bottom-color: #48d1cc !important;
}
.k6,
.k15,
.k24 {
  border-bottom-color: #2196f3 !important;
}
.k7,
.k16,
.k25 {
  border-bottom-color: #6a0dad !important;
}
.k8,
.k17,
.k26 {
  border-bottom-color: #d000d0 !important;
}
.k9,
.k18,
.k27 {
  border-bottom-color: #ffc107 !important;
}
.k11,
.k29 {
  border-bottom-color: #9c27b0 !important;
}
.k22 {
  border-bottom-color: #3f51b5 !important;
}

.copy {
  margin: 20px 0 20px;
  color: gray;
  font-size: 0.8em;
}
.grey {
  color: gray;
}

#myla {
  display: none;
  li {
    margin-bottom: 10px;
  }
}

.fullStar {
  position: absolute;
  top: 0;
  left: 5px;
  min-height: 220px;
}
#star-holder {
  z-index: 200;
  padding: 20px;
  left: 10px;
  top: 10px;
  position: absolute;
  height: 240px;
  width: 240px;
  .num {
    position: absolute;
    padding: 4px;
  }
  .num > span {
    display: block;
    opacity: 0;
    position: relative;
    top: 17px;
    left: -34px;
    width: 100px;
    z-index: 100;
    font-size: 0.9rem;
    transition: opacity 0.3s ease 0.1s;
  }
  .num:hover > span {
    opacity: 1;
  }

  .character {
    top: 0px;
    left: 95px;
    > span {
      left: 12px;
      top: 0;
    }
  }
  .soul {
    top: 66px;
    left: 9px;
  }
  .agenda {
    top: 65px;
    left: 179px;
    > span {
      top: 22px;
      left: -28px;
    }
  }
  .attitude {
    top: 158px;
    left: 144px;
  }
  .personality {
    top: 158px;
    left: 44px;
  }
  .destiny {
    top: 88px;
    left: 95px;
    > span {
      left: 28px;
      top: 0;
    }
  }
  .purpose {
    display: none;
  }
}
.star > div {
  z-index: 110;
  width: 0;
  height: 0;
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  border-bottom: 64px solid #c8e1ff;
}

.t0 {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  border: solid 39px #c8e1ff;
  top: 81px;
  left: 86px;
  background-color: #c8e1ff;
}
.t1,
.t2,
.t3,
.t4,
.t5 {
  position: absolute;
}
.t1 {
  top: 24px;
  left: 102px;
}
.t2 {
  transform: rotate(72deg);
  top: 68px;
  left: 163px;
}
.t3 {
  transform: rotate(144deg);
  top: 139px;
  left: 140px;
}
.t4 {
  transform: rotate(-144deg);
  top: 139px;
  left: 64px;
}
.t5 {
  transform: rotate(-72deg);
  top: 68px;
  left: 41px;
}
.rpt-perso .num {
  padding: 4px;
}

@media only screen and (max-width: 670px) {
  body {
    margin: 30px 10px;
  }
  section {
    padding: 20px 10px;
  }
  .ml210 {
    margin-left: 10px;
  }
  .fullStar {
    position: relative;
  }
  .meaning > .num {
    left: -10px;
  }
  .meaning > div {
    padding-left: 60px;
  }
  .fl {
    margin: 10px 0px;
  }
}

@media print {
  @page {
    margin: 1cm 1cm;
  }
  #myla,
  article {
    page-break-inside: avoid;
    margin-bottom: 40px;
  }
  a[href^="http"]::after {
    font-weight: 500;
    content: " (" attr(href) ") ";
  }
  .num > span,
  .field > label > span.grey {
    display: none !important;
  }
  section {
    border: none;
    border-bottom: 2px solid silver;
  }
}
#report1 > article .num,
#report2 > article .num,
#report3 > article .num,
#allNumbers > span {
  transition: transform 0.3s 0.1s;
}
#report1 > article:hover .num,
#report2 > article:hover .num,
#report3 > article:hover .num,
#allNumbers > span:hover {
  transform: scale(1.4);
}
.myla {
  height: 206px;
  width: 195px;
}
.heart {
  font-size: 20px;
  position: relative;
  top: 4px;
  display: inline-block;
  text-align: center;
  transition: color 1s;
}
.evo-footer {
  margin-top: 10px;
}
.evo-footer:hover .heart {
  color: #ef1c97;
  -webkit-animation: beat 0.35s infinite alternate;
  -moz-animation: beat 0.35s infinite alternate;
  -ms-animation: beat 0.35s infinite alternate;
  -o-animation: beat 0.35s infinite alternate;
  animation: beat 0.35s infinite alternate;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

@keyframes beat {
  to {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@-moz-keyframes beat {
  to {
    -moz-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@-webkit-keyframes beat {
  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@-ms-keyframes beat {
  to {
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@-o-keyframes beat {
  to {
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
}
